<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cannon.hy">
    <!-- 存储写入 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 存储读取 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 手电筒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- WIFI状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 网络状态改变 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- WIFI状态改变 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.GuidePageActivity"
            android:theme="@style/AppTheme.AppStartLoadTranslucent"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CameraActivity" />
        <activity android:name=".activity.JsCallNativeActivity">
        </activity>
        <activity android:name=".activity.NativeCallJsActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.ResultActivity" />
        <activity
            android:name=".activity.ScanActivity"
            android:label="扫描二维码"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.MessageService"
            android:label="消息推送"
            android:process=":message" /> <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".receiver.CustomerReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.cannon.hy" />
            </intent-filter>
        </receiver>
    </application>

</manifest>